.al_header_color{
    text-decoration: none; 
    color: #fff;
    text-shadow:
        0 0 7px rgb(4, 0, 255),
        0 0 10px rgb(119, 118, 196),
        0 0 21px rgb(4, 0, 255),
        0 0 42px rgb(4, 0, 255),
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    font-size: 170%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 8%;
}
header{
    background-color: rgb(24, 24, 24,.6);
}
.al_header_color:hover{
    color: rgb(81, 50, 255);
}