#al_header{
position: fixed;
width: 100%;
}
main{
    background-image: url(../MEDIAS/fond_neon.jpg);
    background-repeat: no-repeat;   
    background-size:cover;
    background-position-x: center;
    background-attachment: fixed;
}
.al_scroll-snap{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.al_bloc{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid rgb(0, 0, 0);
    height: 100vh;
    scroll-snap-align: center;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
footer{
    position: fixed;
    width: 100%;
}