header{
position: absolute;
width: 100%;
}
body{
    background-image: url(../MEDIAS/fond_neon.jpg);
    background-repeat: no-repeat;   
    background-size:cover;
    background-position-x: center;
    background-attachment: fixed;
}
.al_scroll-snap{
    height: 100vh;
    overflow-y: scroll;
    /* scroll-snap-type: y mandatory; */
}
.al_bloc{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 5px solid rgb(0, 0, 0); */
    height: 100vh;
    /* scroll-snap-align: center; */
}
.image{
    width: 70%;
    margin-top: 1%;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(183, 21, 189);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(81, 50, 255);
}
footer{
    /* position: fixed; */
    position:absolute;
    bottom:0;
    width: 100%;
}