header{
    position: fixed;
    width: 100%;
}
body {
    background-image: url(../MEDIAS/triangle.jpg);
    background-repeat: no-repeat;   
    background-size:cover;
    background-position-x: center;
    /* background-attachment: fixed; */
}

main {
    background-position: top;
    width: 100%;
    color: white;
    padding: 5%;
    padding-top: 10%;
}

table{
    width: 100%;
    height: calc(80vh - 110px);
    background-color: rgb(24, 24, 24,.8);
}

table td {
    padding: 10px;
    border: 1px solid rgba(162, 0, 212, 0.637);
    vertical-align: top;
    width: 10%;
    height: 20%;
}

.lien_reservation{
    text-decoration: none;
    color: rgb(204, 0, 204);
}

.dispo_reservation{
    font-size: smaller;
    color: rgba(149, 133, 194, 0.5);
    justify-content: center;
}