main {
    background-image: url(../MEDIAS/triangle.jpg);
    /* background-color: rgb(24, 24, 24); */
    /* background-blend-mode:overlay; */

    background-position: top;
    width: 100%;
    color: white;
    padding: 5%;

}

table{
    width: 100%;
    height: calc(80vh - 110px);
    padding: 10%;
    background-color: rgb(24, 24, 24,.8);
}
table td {
    
    padding: 10px;
    border: 1px solid #CCC;
    vertical-align: top;
    width: 10%;
    height: 20%;
}
.calendar_nav {
    display: flex;
    /* padding-left: 3%; */
    /* justify-content: first baseline; */
}
.calendar_nav h1{
    /* display: flex; */
    padding-right: 5%;
    /* justify-content: first baseline; */
}

.calendar__table--6weeks td {
    height: 16%;
}

.calendar__weekday {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.calendar__day {
    font-size: 1.3em;
}
.calendar__othermonth .calendar__day {
    opacity: 0.3;
}