body {
    background-image: url(../MEDIAS/fondcercle.jpg);
}

main{
    color: white;
    margin: 10%;
    padding: 2%;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 24,.8);
}

main h1{
    color: grey;
}

main li{
list-style-type: none;  
padding: 2%;
}

.error {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.error a {
    margin: 2%;
}