body {
    background-image: url(../MEDIAS/triangle.jpg);
    background-repeat: no-repeat;   
    background-size:cover;
    background-position-x: center;
    background-attachment: fixed;
}
main{
    color: white;
    margin: 6%;
    padding: 2%;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 24,.8);
}

main h1{
    color: grey;
}

main input{
padding: 2%;
margin: 2%;
}