header{

    }
body {
    background-image: url(../MEDIAS/triangle.jpg);
    background-repeat: no-repeat;   
    background-size:cover;
    background-position-x: center;
    /* background-attachment: fixed; */
}
main{
    background-color: rgba(0, 0, 0, 0.582);
    color:blanchedalmond;
    margin: 5%;
    padding: 2%;
    display: flex;
    justify-content: center;
}

main h1{
    color:rgba(255, 235, 205, 0.774);
}

main input{
padding: 2%;
margin: 2%;
}
footer{
    /* position: fixed; */


}